# Environnements Python
.venv/
venv/
__pycache__/
.pytest_cache/
*.pyc

# Données et modèles locaux
data/
models/
preprocessing/
*.pkl
*.joblib
artifacts/*.joblib

# Secrets
.env
*.key

# Système / IDE
.vscode/
.DS_Store
.ruff_cache/
