# Environnements Python
.venv/
venv/
__pycache__/
.pytest_cache/
*.pyc
.ipynb_checkpoints/
.ruff_cache/

# Données et modèles locaux
data/
models/
preprocessing/
*.pkl
*.joblib
artifacts/*.joblib
artifacts/*.joblib
artifacts/**/*.joblib
artifacts/*.pkl
artifacts/**/*.pkl

# Secrets
.env
*.env
*.key

# Système / IDE
.vscode/
.DS_Store
Thumbs.db
